@charset "UTF-8";
:root{
    --navegação: #2A80D8;
    --aba-navegação: #6AB1E8;
    --secundario-fundo: #529DDE;
    --terceiro-fundo: #bce0fb;
    --fundo-main: #186CC3;
    --texto-icone-fundo: #ffffff;
    --footer: #003A76;
    --transparência: #ffffff00;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@media screen and (min-width: 1024px) {
    body{
            transition: 0.3s;
    }
    main{
        display: grid;
        grid-template-columns: 10px 1fr 1fr 10px;
    }
    /*======================*/
    /*== Navegação ====================*/
    nav {
        padding: 30px;
    }
    nav span{
        display: none;
    }
    nav ul.media-icones{
        visibility: visible;
        opacity: 100;
        display: flex;
        list-style-type: none;
        font-size: 1.1em;
        gap: 30px;
    }
    .media-icones a{
        color: var(--texto-icone-fundo);
        border-radius: 50%;

        transition: 0.3s;
    }
    .media-icones a:hover{
        padding: 10px;
        color: var(--texto-icone-fundo);
        background-color: var(--secundario-fundo);
    }
    /*======================*/
    /*== Inicial ====================*/  
    #inicial{
            grid-column: 2 / 4;

            display: grid;
            grid-template-columns: 1fr 1fr;
    }
    #inicial .one{
        border-right: 1px solid var(--texto-icone-fundo);
        border-bottom: none;
        width: 100%;
    }
    #inicial .one img{
        width: 250px;
    }
    #inicial .one p{
        font-size: 0.8em;
    }
    #inicial .two{
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: auto;

        width: 80%;
        justify-content: center;
        align-items: center;
    }
    #inicial .two h2{
        font-size: 2em;
    }
    #inicial .two p.cargo{
        font-size: 1em;
    }
    #inicial .two p.sobre{
        font-size: 1em;
    }
    /*======================*/
    /*== Atendimentos ====================*/
    #atendimentos .locais{
        grid-template-columns: 1fr 1fr;
    }
    #atendimentos{
        font-size: 1em;
        margin-right: 5px;
    }
    #atendimentos h2{
        font-size: 1.4em;
        font-family: "Poppins", sans-serif;
    }
    /*======================*/
    /*== Outro atendimento ====================*/
    #atendimentos .segundo-atendimento{
        display: none;
    }
    #segundo-atendimento{
        display: inline-block;
        grid-column: 3 / 4;
    
        background-color: var(--texto-icone-fundo);
        color: var(--fundo-main);
        padding: 10px;
        margin-left: 5px;
        font-size: 1em;
    }
    #segundo-atendimento h2{
        font-size: 1.4em;
        background-image: linear-gradient(to right, var(--terceiro-fundo), var(--transparência));
        padding: 5px 15px;
        border-radius: 10px;
        font-family: Titulos;
        margin-bottom: 10px;
    }
    #segundo-atendimento .tutorial{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 10px;

        font-size: 1em;
        line-height: 25px;
    }
    #segundo-atendimento .tutorial span{
        font-weight: bolder;
        font-family: Titulos;
    }
    #segundo-atendimento .formulario{
        display: flex;
        flex-flow: column;
        gap: 5px;

        font-size: 0.8em;
        font-weight: bolder;
    }
    #segundo-atendimento label{
        display: flex;
        gap: 5px;

        border: 1px solid var(--fundo-main);
        border-radius: 20px;
        padding: 10px 0px 25px 10px;
        width: 100%;
        font-family: Titulos;
    }
    #segundo-atendimento input[type="number"]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    #segundo-atendimento input, textarea{
        color: var(--aba-navegação);
        width: 100%;
        margin-right: 10px;
        border: none;
    }
    #segundo-atendimento .labeli{
        align-items: center;
        justify-content: flex-start;
    }
    #segundo-atendimento .label textarea{
        width: 99%;
        height: 100px;
        resize: vertical;
    }
    #segundo-atendimento input, textarea{
        caret-color: var(--fundo-main);
    }
    #segundo-atendimento input::placeholder, textarea::placeholder{
        font-size: 0.8em;
        color: var(--terceiro-fundo);
    }
    #segundo-atendimento input:focus-within, textarea:focus-within{
        outline: none;
    }
    #segundo-atendimento label:focus-within{
        border: 2px solid var(--fundo-main);
    }
    #segundo-atendimento input[type="submit"]{
        background-color: var(--fundo-main);
        color: var(--texto-icone-fundo);
        padding: 15px;
        border-radius: 30px;
        font-weight: bolder;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 200px;

        transition: 0.3s;
    }
    #segundo-atendimento input[type="submit"]:hover{
        background-color: var(--terceiro-fundo);
        color: var(--fundo-main);
        border: 1px solid var(--fundo-main);
    }
    #segundo-atendimento .links{
        display: flex;
        align-self: flex-start;
    }
    #segundo-atendimento .link{
        display: flex;
        gap: 5px;
        align-items: center;
        font-size:3.5em;

        text-decoration: none;
        width: fit-content;
        overflow: hidden;
        color: var(--fundo-main);
        padding: 5px;
        border-radius: 8px;

        transition: 0.3s;
    }
    #segundo-atendimento .link p{
        display: none;
        font-size: 0.3em;
    }
    #segundo-atendimento .link:hover{
        background-color: var(--fundo-main);
        color: var(--terceiro-fundo);
    }
    #segundo-atendimento .link:hover p{
        display: inline;
    }
    /*======================*/
    /*== Problemas ====================*/
    #problemas-section{
        grid-column: 2 / -2;
        font-size: 1em;
    }
    #problemas-section h2{
        font-size: 1.4em;
    }
    #problemas-section ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /*======================*/
    /*== Perguntas ====================*/
    #perguntas {
        grid-column: 2 / -2;
        font-size: 1em;
    }
    #perguntas h2{
        font-size: 1.4em;
    }
    #perguntas details{
        padding: 20px;
        font-size: 1em;
    }
    #perguntas details .resposta{
        padding: 20px 0px 70px 20px;
        font-size: 1em;
    }
    /*======================*/
    /*== Footer ====================*/
    footer{
        padding: 10px;
        font-size: 1em;
    }    
}